body{
  background-image: url("/static/imgs/windowsXP-BG.jpeg");
  height:100%;
  width:100%;
}

div#bonzi-buddy-ur{
  position: absolute;
  top: 0;
  right: 0;
}

div#bonzi-buddy-bl{
  bottom:0;
  left:0;
  position:absolute;
  width: 100%;
}
